body {
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
    text-shadow: 1px 1px;
}

p {
    font-family: verdana;
    font-size: 20px;
}
nav{
    padding: 20px;
    margin: auto;
}
div{
    overflow: auto;
    max-height: 200px;
    max-width: 250px;
    font-size: 15px;
}